# Preprocess

In [2]:
import pandas as pd

In [2]:
df = pd.read_csv("embeddings.csv")

In [3]:
df.head()

,Unnamed: 0.1,Unnamed: 0,name,image,XID,Name,Kind,City,OSM,WikiData,Rate,Lon,Lat,embeddings
0,0,0,Дом В. И. Смирнова,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAUEBAUEAwUFBA...,W148138980,Дом В. И. Смирнова,"architecture,historic_architecture,interesting...",Нижний Новгород,way/148138980,Q97660371,3h,43.975361,56.314426,"[-0.2345062494277954, -0.0605655238032341, -0...."
1,1,1,Дом В. И. Смирнова,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAUEBAUEAwUFBA...,W148138980,Дом В. И. Смирнова,"architecture,historic_architecture,interesting...",Нижний Новгород,way/148138980,Q97660371,3h,43.975361,56.314426,"[-0.26463744044303894, -0.17199602723121643, -..."
2,2,2,Дом В. И. Смирнова,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAUEBAUEAwUFBA...,W148138980,Дом В. И. Смирнова,"architecture,historic_architecture,interesting...",Нижний Новгород,way/148138980,Q97660371,3h,43.975361,56.314426,"[-0.26404643058776855, 0.1756322681903839, -0...."
3,3,3,Дом В. И. Смирнова,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAUEBAUEAwUFBA...,W148138980,Дом В. И. Смирнова,"architecture,historic_architecture,interesting...",Нижний Новгород,way/148138980,Q97660371,3h,43.975361,56.314426,"[-0.09119301289319992, 0.06997376680374146, -0..."
4,4,4,Дом В. И. Смирнова,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAUEBAUEAwUFBA...,W148138980,Дом В. И. Смирнова,"architecture,historic_architecture,interesting...",Нижний Новгород,way/148138980,Q97660371,3h,43.975361,56.314426,"[0.04440462589263916, 0.18395093083381653, -0...."

In [6]:
df.shape

(15251, 14)

In [8]:
grouped_df = (
    df.groupby("XID")
    .agg(
        {
            "Name": "first",
            "City": "first",
            "Lon": "first",
            "Lat": "first",
            "embeddings": "first",
            "image": list,
        }
    )
    .reset_index()
)

In [9]:
grouped_df.head()

,XID,Name,City,Lon,Lat,embeddings,image
0,N1012304895,Вечный огонь,Владимир,40.364002,56.120033,"[-0.5436314344406128, -0.07166235148906708, -0...",[/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAUEBAUEAwUFB...
1,N1050096042,М.В. Фрунзе,Ярославль,39.874001,57.599037,"[-0.6420756578445435, 0.5540616512298584, -0.0...",[/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAUEBAUEAwUFB...
2,N1056966401,Памятник жертвам и мученикам революции 1905 года,Нижний Новгород,44.016010,56.316841,"[-0.17992371320724487, 0.08507556468248367, -0...",[/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAUEBAUEAwUFB...
3,N1234995463,Ярославский музей-заповедник,Ярославль,39.890030,57.620876,"[-0.009427819401025772, 0.11430048942565918, -...",[/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAUEBAUEAwUFB...
4,N1361341279,Кирило-Афанасиевский мужской монастырь,Ярославль,39.895275,57.625294,"[0.03503097966313362, -0.18154576420783997, -0...",[/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAUEBAUEAwUFB...

In [7]:
grouped_df.shape

(399, 8)

In [14]:
import json
from pathlib import Path

xid_to_cat = json.loads(Path("cats.json").read_text())
en_to_ru = {
    "religion": "Религиозный объект", 
    "other": "Другое", 
    "memorial": "Памятник событию",
    "statue": "Памятник личности",
    "experience": "Экспириенс",
}

In [11]:
city_to_id = {
    "Нижний Новгород": 1, 
    "Ярославль": 2, 
    "Владимир": 3, 
    "Екатеринбург": 4
}

In [13]:
with_city_id = grouped_df.drop(columns=["City"])
with_city_id["city_id"] = grouped_df["City"].map(city_to_id.get)
with_city_id.head()

,XID,Name,Lon,Lat,embeddings,image,city_id
0,N1012304895,Вечный огонь,40.364002,56.120033,"[-0.5436314344406128, -0.07166235148906708, -0...",[/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAUEBAUEAwUFB...,3
1,N1050096042,М.В. Фрунзе,39.874001,57.599037,"[-0.6420756578445435, 0.5540616512298584, -0.0...",[/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAUEBAUEAwUFB...,2
2,N1056966401,Памятник жертвам и мученикам революции 1905 года,44.016010,56.316841,"[-0.17992371320724487, 0.08507556468248367, -0...",[/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAUEBAUEAwUFB...,1
3,N1234995463,Ярославский музей-заповедник,39.890030,57.620876,"[-0.009427819401025772, 0.11430048942565918, -...",[/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAUEBAUEAwUFB...,2
4,N1361341279,Кирило-Афанасиевский мужской монастырь,39.895275,57.625294,"[0.03503097966313362, -0.18154576420783997, -0...",[/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAUEBAUEAwUFB...,2

In [16]:
with_xid = with_city_id.copy()
with_xid["category"] = with_xid["XID"].map(lambda xid: en_to_ru[xid_to_cat[xid].lower()])
with_xid.head()

,XID,Name,Lon,Lat,embeddings,image,city_id,category
0,N1012304895,Вечный огонь,40.364002,56.120033,"[-0.5436314344406128, -0.07166235148906708, -0...",[/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAUEBAUEAwUFB...,3,Памятник событию
1,N1050096042,М.В. Фрунзе,39.874001,57.599037,"[-0.6420756578445435, 0.5540616512298584, -0.0...",[/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAUEBAUEAwUFB...,2,Памятник событию
2,N1056966401,Памятник жертвам и мученикам революции 1905 года,44.016010,56.316841,"[-0.17992371320724487, 0.08507556468248367, -0...",[/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAUEBAUEAwUFB...,1,Памятник событию
3,N1234995463,Ярославский музей-заповедник,39.890030,57.620876,"[-0.009427819401025772, 0.11430048942565918, -...",[/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAUEBAUEAwUFB...,2,Экспириенс
4,N1361341279,Кирило-Афанасиевский мужской монастырь,39.895275,57.625294,"[0.03503097966313362, -0.18154576420783997, -0...",[/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAUEBAUEAwUFB...,2,Религиозный объект

In [17]:
with_xid.to_csv("preprocessed.csv", index=False)

In [3]:
preprocessed = pd.read_csv("preprocessed.csv")